scheduling:
  enabled: false

spring:
  application:
    name: Bulk Scan Orchestrator Functional Tests

queue:
  connection-string: ${QUEUE_READ_CONN_STRING}
  write-connection-string: ${QUEUE_WRITE_CONN_STRING}
  read-interval: ${QUEUE_READ_INTERVAL:30000} # in ms

core_case_data:
  api:
    url: ${CCD_API_URL:http://localhost:4452}

idam:
  s2s-auth:
    url:    ${S2S_URL:http://localhost:4552}
    secret: ${S2S_SECRET:AAAAAAAAAAAAAAAA}
    name:   ${S2S_NAME:bulk_scan_orchestrator}
  api:
    url: ${IDAM_API_URL:http://localhost:8080}
  client:
    id: 'bsp'
    secret: ${IDAM_CLIENT_SECRET:123456}
    redirect_uri: ${IDAM_REDIRECT_URI:http://localhost/receiver}
  users:
    bulkscan:
      username: ${IDAM_USER_NAME:bulkscan+ccd@gmail.com}
      password: ${IDAM_USER_PASSWORD:Password12}
