server:
  port: 8582

management:
  endpoints:
    web:
      exposure:
        include: '*'
      base-path: /
  endpoint:
    health:
      show-details: always

spring:
  application:
    name: Bulk Scan Orchestrator

queue:
  connection-string: ${QUEUE_CONNECTION_STRING:}
  read-interval: ${QUEUE_READ_INTERVAL:30000} # in ms

core_case_data:
  api:
    url: ${CORE_CASE_DATA_API_URL:'http://localhost:4452'}

idam:
  s2s-auth:
    url:    ${S2S_URL:http://localhost:4552}
    secret: ${S2S_SECRET:AAAAAAAAAAAAAAAA}
    name:   ${S2S_NAME:bulk_scan_orchestrator}
  api:
    url: http://localhost:8080
  client:
    id: 'bsp'
    secret: '123456'
    redirect_uri: 'http://localhost/receiver'
