server:
  port: 8582

management:
  endpoints:
    web:
      base-path: /

spring:
  application:
    name: Bulk Scan Orchestrator

bulk-scan-processor-url: ${BULK_SCAN_PROCESSOR_URL:}

queue:
  conn-string: ${QUEUE_CONNECTION_STRING:}
  read-interval: ${QUEUE_READ_INTERVAL:30000} # in ms

idam:
  s2s-auth:
    url:    ${S2S_URL:http://localhost:8081}
    secret: ${S2S_SECRET:AAAAAAAAAAAAAAAA}
    name:   ${S2S_NAME:bulk_scan_orchestrator}
