name: bulk-scan-orchestrator
apiVersion: v2
home: https://github.com/hmcts/bulk-scan-orchestrator
version: 0.5.25
description: HMCTS Bulk scan orchestrator service
maintainers:
  - name: HMCTS BSP Team
    email: bspteam@hmcts.net
dependencies:
  - name: java
    version: 5.2.0
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
  - name: servicebus
    version: 1.0.6
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
    condition: servicebus.enabled
