java:
  environment:
    ENVELOPES_QUEUE_NAME: "envelopes-staging"
    PROCESSED_ENVELOPES_QUEUE_NAME: "processed-envelopes-staging"
    PAYMENTS_QUEUE_NAME: "payments-staging"
    FLYWAY_SKIP_MIGRATIONS: "false"
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  devApplicationInsightsInstrumentKey: "f666440f-43c0-4abb-9c20-2ce175a374f0"
  keyVaults:
    bulk-scan:
      secrets:
        - name: idam-client-secret
          alias: IDAM_CLIENT_SECRET
        - name: s2s-secret-bulk-scan-orchestrator
          alias: S2S_SECRET
        - name: idam-users-bulkscan-username
          alias: idam.users.bulkscan.username
        - name: idam-users-bulkscan-password
          alias: idam.users.bulkscan.password
        - name: idam-users-cmc-username
          alias: idam.users.cmc.username
        - name: idam-users-cmc-password
          alias: idam.users.cmc.password
        - name: idam-users-div-username
          alias: idam.users.divorce.username
        - name: idam-users-div-password
          alias: idam.users.divorce.password
        - name: idam-users-probate-username
          alias: idam.users.probate.username
        - name: idam-users-probate-password
          alias: idam.users.probate.password
        - name: idam-users-publiclaw-username
          alias: idam.users.publiclaw.username
        - name: idam-users-publiclaw-password
          alias: idam.users.publiclaw.password
        - name: idam-users-sscs-username
          alias: idam.users.sscs.username
        - name: idam-users-sscs-password
          alias: idam.users.sscs.password
        - name: envelopes-staging-queue-listen-shared-access-key
          alias: ENVELOPES_QUEUE_READ_ACCESS_KEY
        - name: payments-staging-queue-send-shared-access-key
          alias: PAYMENTS_QUEUE_WRITE_ACCESS_KEY
        - name: processed-envelopes-staging-queue-send-shared-access-key
          alias: PROCESSED_ENVELOPES_QUEUE_WRITE_ACCESS_KEY
        - name: envelopes-queue-max-delivery-count
          alias: ENVELOPES_QUEUE_MAX_DELIVERY_COUNT
        - name: app-insights-instrumentation-key
          alias: azure.application-insights.instrumentation-key
        - name: bulk-scan-orchestrator-POSTGRES-PASS
          alias: DB_PASSWORD
        - name: bulk-scan-orchestrator-POSTGRES-USER
          alias: DB_USER
        - name: bulk-scan-orchestrator-POSTGRES-HOST
          alias: DB_HOST
        - name: bulk-scan-orchestrator-POSTGRES-PORT
          alias: DB_PORT
        - name: bulk-scan-orchestrator-POSTGRES-DATABASE
          alias: DB_NAME
