java:
  applicationPort: 8582
  ingressHost: bulk-scan-orchestrator-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  aadIdentityName: bsp
  readinessPath: '/health/readiness'
  environment:
    DB_CONN_OPTIONS: ?sslmode=require
    S2S_NAME: "bulk_scan_orchestrator"
    S2S_URL: "http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    IDAM_API_URL: "https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net"
    IDAM_CLIENT_REDIRECT_URI: "https://bulk-scan-orchestrator-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/oauth2/callback"
    CORE_CASE_DATA_API_URL: "http://ccd-data-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    CDAM_URL: "http://ccd-case-document-am-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    DOCUMENT_MANAGEMENT_URL: "http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    TRANSFORMATION_URL_PROBATE: "http://probate-back-office-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/transform-exception-record"
    TRANSFORMATION_URL_DIVORCE: "http://div-cos-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/transform-exception-record"
    TRANSFORMATION_URL_FINREM: "http://finrem-cos-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/transform-exception-record"
    TRANSFORMATION_URL_SSCS: "http://sscs-bulk-scan-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/transform-exception-record"
    UPDATE_URL_PROBATE: "http://probate-back-office-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/update-case"
    TRANSFORMATION_URL_NFD: "http://nfdiv-case-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/transform-exception-record"
    TRANSFORMATION_URL_PRIVATELAW: "http://fis-bulk-scan-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/transform-exception-record"
    PAYMENT_PROCESSOR_URL: "http://bulk-scan-payment-processor-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/payment"
    QUEUE_READ_INTERVAL: "30000"
    DELETE_ENVELOPES_DLQ_MESSAGES_ENABLED: "true"
    DELETE_ENVELOPES_DLQ_MESSAGES_CRON: "0 * * * * *"
    DELETE_ENVELOPES_DLQ_MESSAGES_TTL: "10s"
    QUEUE_ACCESS_KEY_LISTEN_NAME: "ListenSharedAccessKey"
    QUEUE_ACCESS_KEY_SEND_NAME: "SendSharedAccessKey"
    QUEUE_NAMESPACE: "bulk-scan-servicebus-{{ .Values.global.environment }}-premium"
    ENVELOPES_QUEUE_NAME: "envelopes"
    PROCESSED_ENVELOPES_QUEUE_NAME: "processed-envelopes"
    AUTO_CASE_CREATION_ENABLED_BULKSCAN: "false"
    AUTO_CASE_CREATION_ENABLED_BULKSCANAUTO: "true"
    AUTO_CASE_CREATION_ENABLED_SSCS: "false"
    AUTO_CASE_CREATION_ENABLED_PROBATE: "true"
    AUTO_CASE_CREATION_ENABLED_NFD: "true"
    AUTO_CASE_CREATION_ENABLED_DIVORCE: "false"
    AUTO_CASE_CREATION_ENABLED_FINREM: "false"
    AUTO_CASE_CREATION_ENABLED_CMC: "false"
    AUTO_CASE_CREATION_ENABLED_PUBLICLAW: "false"
    AUTO_CASE_CREATION_ENABLED_PRIVATELAW: "false"
    AUTO_CASE_UPDATE_ENABLED_BULKSCAN: "false"
    AUTO_CASE_UPDATE_ENABLED_BULKSCANAUTO: "true"
    AUTO_CASE_UPDATE_ENABLED_SSCS: "false"
    AUTO_CASE_UPDATE_ENABLED_PROBATE: "false"
    AUTO_CASE_UPDATE_ENABLED_NFD: "true"
    AUTO_CASE_UPDATE_ENABLED_DIVORCE: "false"
    AUTO_CASE_UPDATE_ENABLED_FINREM: "false"
    AUTO_CASE_UPDATE_ENABLED_CMC: "false"
    AUTO_CASE_UPDATE_ENABLED_PUBLICLAW: "false"
    AUTO_CASE_UPDATE_ENABLED_PRIVATELAW: "false"
    CASE_DEFINITION_HAS_ENVELOPE_IDS_BULKSCAN: "false"
    CASE_DEFINITION_HAS_ENVELOPE_IDS_BULKSCANAUTO: "true"
    CASE_DEFINITION_HAS_ENVELOPE_IDS_SSCS: "false"
    CASE_DEFINITION_HAS_ENVELOPE_IDS_PROBATE: "true"
    CASE_DEFINITION_HAS_ENVELOPE_IDS_NFD: "true"
    CASE_DEFINITION_HAS_ENVELOPE_IDS_DIVORCE: "false"
    CASE_DEFINITION_HAS_ENVELOPE_IDS_FINREM: "false"
    CASE_DEFINITION_HAS_ENVELOPE_IDS_CMC: "false"
    CASE_DEFINITION_HAS_ENVELOPE_IDS_PUBLICLAW: "false"
    CASE_DEFINITION_HAS_ENVELOPE_IDS_PRIVATELAW: "false"
    CAN_SEARCH_CASES_BY_ENVELOPE_ID_BULKSCAN: "false"
    CAN_SEARCH_CASES_BY_ENVELOPE_ID_BULKSCANAUTO: "true"
    CAN_SEARCH_CASES_BY_ENVELOPE_ID_SSCS: "false"
    CAN_SEARCH_CASES_BY_ENVELOPE_ID_PROBATE: "true"
    CAN_SEARCH_CASES_BY_ENVELOPE_ID_NFD: "true"
    CAN_SEARCH_CASES_BY_ENVELOPE_ID_DIVORCE: "false"
    CAN_SEARCH_CASES_BY_ENVELOPE_ID_FINREM: "false"
    CAN_SEARCH_CASES_BY_ENVELOPE_ID_CMC: "false"
    CAN_SEARCH_CASES_BY_ENVELOPE_ID_PUBLICLAW: "false"
    CAN_SEARCH_CASES_BY_ENVELOPE_ID_PRIVATELAW: "false"
    SUPPLEMENTARY_DATA_ENABLED_SSCS: "true"
    FLYWAY_SKIP_MIGRATIONS: "true"
    ENVELOPE_QUEUE_CHECK_POLL_INTERVAL: "PT1H"
    CDAM_ENABLED: "true"
  keyVaults:
    bulk-scan:
      secrets:
        - name: idam-client-secret
          alias: IDAM_CLIENT_SECRET
        - name: s2s-secret-bulk-scan-orchestrator
          alias: S2S_SECRET
        - name: idam-users-bulkscan-username
          alias: idam.users.bulkscan.username
        - name: idam-users-bulkscan-password
          alias: idam.users.bulkscan.password
        - name: idam-users-cmc-username
          alias: idam.users.cmc.username
        - name: idam-users-cmc-password
          alias: idam.users.cmc.password
        - name: idam-users-div-username
          alias: idam.users.divorce.username
        - name: idam-users-div-password
          alias: idam.users.divorce.password
        - name: idam-users-probate-username
          alias: idam.users.probate.username
        - name: idam-users-probate-password
          alias: idam.users.probate.password
        - name: idam-users-publiclaw-username
          alias: idam.users.publiclaw.username
        - name: idam-users-publiclaw-password
          alias: idam.users.publiclaw.password
        - name: idam-users-privatelaw-username
          alias: idam.users.privatelaw.username
        - name: idam-users-privatelaw-password
          alias: idam.users.privatelaw.password
        - name: idam-users-sscs-username
          alias: idam.users.sscs.username
        - name: idam-users-sscs-password
          alias: idam.users.sscs.password
        - name: envelopes-queue-listen-shared-access-key-premium
          alias: ENVELOPES_QUEUE_READ_ACCESS_KEY
        - name: processed-envelopes-queue-send-shared-access-key-premium
          alias: PROCESSED_ENVELOPES_QUEUE_WRITE_ACCESS_KEY
        - name: envelopes-queue-max-delivery-count-premium
          alias: ENVELOPES_QUEUE_MAX_DELIVERY_COUNT
        - name: app-insights-connection-string-uk
          alias: app-insights-connection-string
        - name: orchestrator-POSTGRES-PASS
          alias: DB_PASSWORD
        - name: orchestrator-POSTGRES-USER
          alias: DB_USER
        - name: orchestrator-POSTGRES-HOST
          alias: DB_HOST
        - name: orchestrator-POSTGRES-PORT
          alias: DB_PORT
        - name: orchestrator-POSTGRES-DATABASE
          alias: DB_NAME
        - name: launch-darkly-sdk-key
          alias: LAUNCH_DARKLY_SDK_KEY
        - name: launch-darkly-offline-mode
          alias: LAUNCH_DARKLY_OFFLINE_MODE
  image: hmctspublic.azurecr.io/bulk-scan/orchestrator:latest

servicebus:
  enabled: false
