<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="${LOGBACK_CONFIGURATION_DEBUG:-false}">

  <include optional="true" resource="${LOGBACK_INCLUDES_FILE:-logback-includes.xml}"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ASYNC_STDOUT" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
      <appender-ref ref="STDOUT"/>
  </appender>
  <root level="${ROOT_LOGGING_LEVEL:-INFO}">
    <appender-ref ref="${ROOT_APPENDER:-ASYNC_STDOUT}"/>
  </root>
</configuration>
